<div class="dashboard-container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>Nombre de RDV par vétérinaire</h3>
        </div>
        <div class="card-body">
          <canvas id="appointmentsChart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>Nombre de RDV par spécialité vétérinaire</h3>
        </div>
        <div class="card-body">
          <canvas id="specialtyChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>Nombre de propriétaires par ville</h3>
        </div>
        <div class="card-body">
          <canvas id="cityChart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>Nombre d'animaux par espèce</h3>
        </div>
        <div class="card-body">
          <canvas id="speciesChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
