body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
    background-image: url('https://t4.ftcdn.net/jpg/06/10/13/27/360_F_610132710_9M0fM6ggD6Z38yfNdPWQ9w3j6uCOZ54y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #000000;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    padding: 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1rem 2rem;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #ccc;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f9d71c;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #f9d71c;
  }
  